.datepicker {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  z-index: 200;
}

.datepicker.is-visible {
  visibility: visible;
}

.datepicker-calendar {
  position: absolute;
  top: 0;
}

.Cal__Day__selection .Cal__Day__month {
  display: none;
}

.Cal__Month__row:first-child li {
  z-index: 1 !important;
}

.Cal__Day__root.Cal__Day__selected .Cal__Day__selection {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 26px;
  height: 26px;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 50%;
  line-height: normal;
  z-index: 2;
}

.Cal__Day__root.Cal__Day__today:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 26px;
  height: 26px;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px;
  z-index: -1;
  pointer-events: none;
}

.Cal__Day__month,
.Cal__Day__year {
  color: #C73226;
  font-weight: bold;
}

.Cal__Day__root.Cal__Day__selected .Cal__Day__selection .Cal__Day__day {
  top: 3px;
}

.Cal__Month__label {
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
}
