* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.app {
  text-align: center;
}

.app-logo {
  animation: spin infinite 20s linear;
  height: 40px;
  float: left;
}

.app-header {
  background-color: #222;
  height: 60px;
  padding: 10px;
  color: white;
}

.app-header h2 {
  text-align: left;
  line-height: 40px;
  margin: 0;
}

.app-wrapper {
  width: 250px;
  margin: 20px;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
