@font-face {
  font-family: 'Droid Sans';
  src: url('/fonts/droid_sans/droidsans-webfont.woff2') format('woff2'),
       url('/fonts/droid_sans/droidsans-webfont.woff') format('woff'),
       url('/fonts/droid_sans/droidsans.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Droid Sans';
    src: url('/fonts/droid_sans/droidsans-bold-webfont.woff2') format('woff2'),
         url('/fonts/droid_sans/droidsans-bold-webfont.woff') format('woff'),
         url('/fonts/droid_sans/droidsans-bold.ttf')  format('truetype');
    font-weight: bold;
}

* {
  box-sizing: border-box;
  font-family: 'Droid Sans', sans-serif;
}

.app {
  text-align: center;
}

.app-logo {
  animation: spin infinite 20s linear;
  height: 40px;
  float: left;
}

.app-header {
  background-color: #222;
  height: 60px;
  padding: 10px;
  color: white;
}

.app-header h2 {
  text-align: left;
  line-height: 40px;
  margin: 0;
}

.app-wrapper {
  width: 250px;
  margin: 20px;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
