/*
  color-white: #E3E3E3
  color-blue: #263248
  color-blue-light: #7E8AA2
  color-red: #C73226
  color-yellow: #F2BB16
  color-green: #72A64E
  color-water-mark: rgba(192,192,192,0.5)

*/



.todo-app {
  display: block;
  position: relative;
  height: 100%;
  font-size: 16px;
  background-color: #E3E3E3;
  overflow: hidden;
}

.todo-app header {
  position: absolute;
  top: 0;
  width: 100%;
}

.todo-app-header-pusher {
  width: 100%;
  height: 80px;
}

.todo-app-menu {
  height: 40px;
  width: 100%;
  background-color: #7E8AA2;
  color: #E3E3E3;
}

.todo-app-menu-action {
  height: 40px;
  width: 40px;
}

.todo-app-menu-action.new-todo {
  float: right;
  padding: 6px;
}

.todo-app-menu-action.new-todo svg {
  width: 28px;
  height: 28px;
}
