/*
  color-white: #E3E3E3
  color-blue: #263248
  color-blue-light: #7E8AA2
  color-red: #C73226
  color-yellow: #F2BB16
  color-green: #72A64E

*/

.todo-app {
  padding-top: 20px;
  display: block;
  background-color: #E3E3E3;
  height: 100%;
  font-size: 16px;

}

.todo-list {
  padding: 0;
  margin: 0;
}

.todo-item {
  height: 40px;
  font-size: .9em;
  padding: 0 10px;
  list-style-type: none;
  border-bottom: 1px solid #fff;
}

.todo-item .todo-item--label,
.todo-item .status-button {
  float: left;
}

.todo-item .todo-item--label {
  display: inline-block;
  line-height: 40px;
  color: #263248;
  transition: opacity 0.3s linear;
}

.todo-item__complete .todo-item--label {
  text-decoration: line-through;
  opacity: .3;

}

.todo-item--remove {
  color: #C73226;
  text-decoration: none;
  visibility: hidden;
}

.todo-item:hover .todo-item--remove {
  visibility: visible;
}

.todo-item .status-button {
  margin-right: 10px;
}

.todo-filter {
  height: 40px;
  font-size: 14px;
  padding-top: 13px;
  border-bottom: 1px solid #fff;
}

.todo-filter a {
  margin: 0 5px;
  color: #72A64E;
  text-decoration: none;
}

.todo-filter a.active {
  text-decoration: underline;
}

.todo-app input {
  font-size: 20px;
}
