.status-button {
  display: inline-block;
  width:1.3em;
  height: 100%;
  text-align: center;
  position: relative;
}

.status-button svg {
  z-index: 2;
  width: 20px;
}

.status-button svg:first-of-type {
  position: absolute;
  z-index: 1;
}

.status-button-check {

}

.status-button-checkmark {
  stroke-dasharray: 130px 130px;
  stroke-dashoffset: 130px;
  -webkit-transition: stroke-dashoffset 1s linear 0s;
  transition: stroke-dashoffset 300ms ease-in-out;
  stroke: #006837;
}

.status-button-check:first-of-type {
  position: absolute;
  top: -2px;
  stroke-dashoffset: 0;
  stroke: #000;
}

.status-button-checkmark__is-complete {
  stroke-dashoffset: 0;
}
